.WhichUser-div {
  font-family: poppins;
  display: flex;
  gap: 15px;
  align-items: center;
  img {
    width: 50px;
  }
  p {
    &:first-child {
      font-weight: 700;
      font-size: 13px;
    }
    &:last-child {
      color: gray;
      font-size: 11px;
    }
  }
}
